set nowrap

unbind M-B all
unbind M-F all
bind M-B prevword main
bind M-F nextword main

# Include all available syntax highlighting files
# Note: On Apple Silicon Macs, Homebrew installs to /opt/homebrew
# On Intel Macs, Homebrew installs to /usr/local
include "/opt/homebrew/share/nano/*.nanorc"
